.container.contact__container{
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}

#contact{
    margin-bottom: 5rem;
}

.contacts{
    position: relative;
    text-align: center;
    color:rgb(0, 179, 255);
    font-size: 2.5rem;
    margin-top: 2rem;
    padding-bottom: 1rem ;
}

.contacts::after{
    content: "";
    position: absolute;
    left:0;
    bottom: 0;
    height: 1px;
    width: 100%;
    
    background:linear-gradient(90deg,rgba(229, 0, 0, 0) 0%, rgb(0, 179, 255) 50%, rgba(229, 0, 0, 0) 100%);
}

.contact__options{
    display: flex;
    margin-left: 10rem;
    width: 20rem;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option{
    background: linear-gradient(90deg,#00b3ff 50%, #193843 100%);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    color:black;
    font-size: 25px;
    transition: all 400ms ease;
    border: 1px solid transparent;
}

.contact__option:hover{
    background: transparent;
    border-color: rgb(0, 179, 255);
    color: rgb(225, 225, 225);
    border: 1px solid rgb(0, 179, 255);
}

.contact__option-icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact__option a{
    margin-top: 0.7rem;
    display: inline-block;
    text-decoration: none;
    color:black;
    font-size: 0.8rem;
    font-weight: bold;
}
.contact__option:hover a{
    color: rgb(225, 225, 225);
}

.btn.btn-primary.contact{
    padding: 0.3rem 1rem;
    border-radius: 10px;
    width: 200px;
    border: 2px solid rgb(0, 179, 255);
    cursor: pointer;
}
.btn.btn-primary.contact:hover{
    background: linear-gradient(90deg,#00b3ff 50%, #193843 100%);
    color: rgb(225, 225, 225);
    border: 2px solid transparent;
    font-weight: bold;
}

form{
    display: grid;
    flex-direction: column;
    gap: 1.2rem;
    width: 40%;
}

input, textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: 2px solid rgb(0, 179, 255);
    resize: none;
}

.modal{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    width: 350px;
    height: 200px;
    background:  black;
    color:rgb(0, 179, 255);
    border: 2px solid rgb(0, 179, 255);
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.modal-message{
    font-size: 20px;
    text-align: center;
}

.modal-btn{
    position: absolute;
    color: rgb(0, 179, 255);
    border: 2px solid rgb(0, 179, 255);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-weight: bold;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
}

.modal-btn:hover{
    background: rgb(0, 179, 255);
    color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


/* ================ media query (medium) ===================== */
@media screen and (max-width: 1024px){
    .container.contact__container{
        width: 80%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    form{
        display: grid;
        flex-direction: column;
        gap: 1rem;
        width: 40%;
        margin-bottom: 2rem;
        margin-left: 10rem;
    }

}

/* ================ media query (small) ===================== */
@media screen and (max-width: 600px){
    .container.contact__container{
        width: 60%;
        margin: 0 auto;
    }

    form{
        display: grid;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        margin-bottom: 2rem;
        margin-left: 0;
        margin: 0 auto;
    }
    .contact__options{
        display: flex;
        margin-left: 0;
        margin-top: 1rem;
        width: 20rem;
        flex-direction: column;
        gap: 1.2rem;
    }
    .contact__option{
        margin: 0 auto;
       width: 250px;
       font-size: 18px;
       font-family: 'Courier New', Courier, monospace;
    }

}