.header{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    width: 100%;
    box-shadow: 2px 5px 5px 0px #d8d5d5;
    background-color: black;
}
.logo{
    width: 80px;
    height: 80px;
}
.title{
    position: relative;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    text-align: justify;
}
.title span{
    color:rgb(0, 179, 255);
}
.sub-title{
    margin-top: .2rem;
    font-size: 18px;
    font-weight: 500;
}