.home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}
.info{
    width: 800px;
    height: auto;
    padding: 1rem;
    border-radius: 15px;
    font-size: 18px;
    line-height: 2.5rem;
    letter-spacing: 1.5px;
    background:linear-gradient(355deg, rgba(0, 172, 229, 0.5) -208.03%, rgba(229, 0, 0, 0.00) 41.32%),#0F0F0F;
    box-shadow: 2px 1px 2px -2px #d8d5d5;
    border: 1px solid rgba(255, 255, 255, 0.1); 
    color:rgb(225, 225, 225);
}
.info p{
    display: block;
}

.info span{
    color:rgb(0, 179, 255);
}

.nowrap {
    white-space: nowrap;
    display: inline;
}

@media screen and (max-width: 1024px){
    .info{
        width: 80%;
        line-height: 30px;
    }

}