@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:linear-gradient(222deg, rgba(0, 172, 229, 0.5) -208.03%, rgba(213, 213, 213, 0) 41.32%),#0F0F0F;
    color: white;
    font-family: "Inconsolata", monospace;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(24, 49, 59);
    border-radius: 10px;
}
